* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  min-height: 110vh;
  background: linear-gradient(#000, #1e1c1cd4), url(images/1.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
}

.nav {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.nav-logo {
  width: 200px;
  height: 70px;
  float: left;
  cursor: pointer;
}

.logo {
  color: orange;
  font-size: 24px;
  font-family: Arial;
  margin-left: 20px;
  margin-top: 25px;
  float: left;
  font-weight: bold;
}

.logo:hover {
  background-color: orange;
  color: white;
  padding: 10px;
  transition: 1s;
  border-radius: 10px;
}

.nav-manu {
  width: 400px;
  height: 70px;
  float: left;
}

ul {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 80px;
  margin-top: 30px;
  font-size: 16px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

ul li a:hover {
  color: orange;
  text-transform: uppercase;
}

.register {
  display: flex;
  width: 200px;
  margin-top: 18px;
  float: right;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login {
  text-align: center;
  color: white;
  padding: 8px;
}

.Join {
  text-align: center;
  background-color: orange;
  padding: 8px;
  margin-left: 50px;
  border-radius: 5px;
  color: white;
}

.login:hover {
  background-color: skyblue;
  color: blue;
  padding: 10px;
  transition: 0.6s;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.Join:hover {
  background-color: skyblue;
  color: blue;
  padding: 10px;
  transition: 1s;
  border-top-right-radius: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  color: white;
}
.main-content h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.main-content p {
  margin-bottom: 25px;
}

.btn {
  border: none;
  padding: 12px 20px;
  background-color: brown;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

.btn:hover {
  background-color: transparent;
  color: gold;
  border: 2px solid;
}

/* 
Course box make 
*/

.course-time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-content {
  width: 20%;
  height: 350px;
  border: 1px solid gray;
  padding: 50px;
  overflow: scroll;
  margin-bottom: 300px;
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
  margin-right: 10px;
  margin-top: -200px;
}

.content-logo {
  width: 70px;
  height: 70px;
  border: 1px solid gray;
  background-color: aqua;
  padding: 10px;
}

.course-content h2 {
  margin-top: 40px;
  padding-bottom: 30px;
  position: relative;
}
.course-content h2::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: orange;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.course-content p {
  margin-top: 20px;
}

/*
about the course contect
 */

.about-course {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 100px;
}

.course-syamble {
  background-image: url(images/circle\ pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  margin-right: 250px;
}
.syamble-pic {
  margin-left: -200px;
}

.watch-course {
  width: 500px;
  height: 500px;
  padding: 144px 50px;
}

.watch-course h2 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: bold;
  position: relative;
  padding-top: 30px;
}

.watch-course h2::after {
  content: "";
  width: 80px;
  height: 5px;
  background-color: red;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 25px;
}

.watch-course p {
  font-size: 17px;
  margin-bottom: 25px;
}

.Learn {
  font-weight: bold;
  color: red;
}

/*
client matter
 */

.client-matter {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.client-content {
  margin-right: 100px;
  margin-left: 70px;
  width: 500px;
  height: 300px;
  padding: 100px 80px;
}

.client-content h2 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: bold;
  position: relative;
  padding-top: 30px;
}

.client-content h2::after {
  content: "";
  width: 80px;
  height: 5px;
  position: absolute;
  background-color: red;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.client-content p {
  font-size: 17px;
  margin-bottom: 25px;
}

.client-video {
  width: 500px;
  height: 400px;
  margin-left: 100px;
  padding-top: 50px;
}
.client-video .video {
  width: 100%;
  height: 100%;
}

/*
--Education--
*/

.Edu {
  width: 500px;
  height: 300px;
  margin-left: 225px;
  margin-bottom: 40px;
  padding: 100px 50px;
}

.Edu h2 {
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: bold;
  position: relative;
  padding-top: 30px;
}

.Edu h2::after {
  position: absolute;
  content: "Courses";
  color: red;
  font-size: 14px;
  top: 0;
  left: 0;
}

.Edu p {
  font-size: 17px;
}

#product-sale {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  padding-left: 240px;
  padding-right: 240px;
  margin-bottom: 100px;
}

.product {
  margin: 10px;
  height: 550px;
}

.product-image1 {
  background-image: url("images/product.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.product-image1 p {
  color: white;
  background-color: red;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

.product-image2 {
  background-image: url("images/product2.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.product-image2 p {
  color: white;
  background-color: red;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

.product-image3 {
  background-image: url("images/product3.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.product-image3 p {
  color: white;
  background-color: red;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

.product-image4 {
  background-image: url("images/product4.jpg");
  color: white;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.product-image4 p {
  color: white;
  background-color: red;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  width: 50px;
  text-align: center;
}

.product-content {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-content .reviw {
  color: red;
  margin-bottom: 15px;
}

.product-content h2 {
  margin-bottom: 15px;
}

.product-content a {
  position: absolute;
  margin-top: 18px;
  text-decoration: none;
  border: 1px solid red;
  padding: 7px;
  border-radius: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}

.product-content a:hover {
  background-color: red;
  color: white;
}

.course-parches {
  width: 100%;
  height: 1150px;
  background-color: navy;
  margin-bottom: 100px;
}

.parches-content {
  width: 50%;
  padding-top: 150px;
  padding-left: 250px;
  padding-right: 100px;
  color: white;
}

.parches-content h2 {
  font-size: 35px;
  margin-bottom: 25px;
  position: relative;
  padding-top: 30px;
}

.parches-content p {
  font-size: 17px;
}

.parches-content h2::after {
  content: "practise advice";
  color: red;
  font-size: 14px;
  top: 0;
  left: 0;
  position: absolute;
}

.course-item {
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.item-conntent {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  padding: 25px;
  height: 640px;
}

.cours-logo {
  width: 80px;
  height: 80px;
  background-color: gold;
  border-radius: 50px;
  margin-bottom: 20px;
}

.item-conntent h2 {
  margin-bottom: 20px;
}

.item-conntent p {
  margin-bottom: 20px;
}

.item-conntent h3 {
  font-size: 30px;
  color: red;
  margin-bottom: 7px;
  font-family: Verdana;
}

.item-conntent .time {
  font-size: 14px;
  color: blue;
  font-weight: bold;
}

.item-conntent .btn2 {
  font-size: 18px;
  font-weight: bold;
  background-color: red;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.item-conntent li {
  list-style-type: "\1F44D";
  padding-left: 10px;
  line-height: 40px;
}

.our-course {
  width: 50%;
  padding-top: 0px;
  padding-left: 250px;
  padding-right: 100px;
  margin-bottom: 100px;
}

.our-course h2 {
  font-size: 35px;
  margin-bottom: 25px;
  position: relative;
  padding-top: 30px;
}

.our-course p {
  font-size: 17px;
}

.our-course h2::after {
  content: "Testimonials";
  color: red;
  font-size: 14px;
  top: 0;
  left: 0;
  position: absolute;
}

.review {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.review-ratting {
  width: 400px;
  height: 400px;
  margin: 25px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
}

.review-logo {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 25px;
}

.review-ratting h3 {
  margin-bottom: 20px;
}

.review-ratting p {
  font-size: 17px;
  margin-bottom: 15px;
}

.newsletter-course {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.newsletter-content {
  width: 400px;
  height: 150px;
}

.newsletter-content h2 {
  font-size: 35px;
  margin-bottom: 25px;
  position: relative;
  padding-top: 30px;
}

.newsletter-content p {
  font-size: 17px;
}

.newsletter-content h2::after {
  content: "Newsletter";
  color: red;
  font-size: 14px;
  top: 0;
  left: 0;
  position: absolute;
}

.form {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 200px;
}

input {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

input[type="text"] {
  background-color: rgb(217, 237, 255);
  width: 500px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  border: none;
  outline: none;
}

input[type="submit"] {
  position: relative;
  left: -6px;
  width: 150px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: gold;
  color: blueviolet;
  font-weight: bold;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.footer-information {
  width: 200px;
  height: 200px;
  line-height: 30px;
  margin: 20px;
}

.footer-information h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-information p {
  font-size: 17px;
}
